
// definitions
$article-offset: 40px;


// rules
#content {
	padding: 20px 0 0;

	> article {
		width: $d-content-width;
		position: relative;
		left: -$article-offset;
		padding: $article-offset/2 $article-offset $article-offset;
		background: darken($c-b2, 10%);
		box-shadow: 10px 0 20px $c-box-shadow;

		header {
			h1 {
				color: $c-b1;
				background: darken($c-b2, 15%);
				padding: .3em $article-offset/2;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				border: {
					width: 1px;
					style: dotted;
					color: darken($c-b2, 50%);
				}
			}
			> span, > ul {
				@extend h1;
				background: $c-b2;
				display: inline-block;
				margin-bottom: .3em;
			}
			> ul {
				list-style: none;
				padding-left: 0;
				padding-right: 0;
				
				li {
					display: inline-block;
					padding: 0 1em;
					border-left: {
						width: 1px;
						color: darken($c-b1, 30%);
						style: dotted;
					};
				}
				
				li:first-child {
					border-left: 0;
				};
			}
		}
		
		> section.content {
			.text {
				background: $c-b2;
				padding: 1em $article-offset .5em;
				border: {
					style: dotted;
					color: darken($c-b2, 50%);
					width: 1px;
				};
				border-top-width: 0;
			}
			p {
				font: 1.2em/1.5em $f-content;
				padding: .5em 0;
			}
			blockquote p {
				font-style: italic;
			}
			.no-f {
				margin: $article-offset/2+5px 0 0;
				p {
					box-shadow: none;
					padding: 0;
				}
			}
			span.youtube {
				height: 400px;
				display: block;
				border: {
					width: 1px;
					color: lighten($c-b1, 20%);
					style: solid;
				}
			}
		}

	}
	> article + div {
		height: 5px;
		background: $c-box-shadow;
		margin-bottom: 30px;
	}
}